body{font-family: Calibri;
margin-left: 15%;
margin-right: 20%}


h1{color: #e54867;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    width:100%;
    text-align: left
    font-family: Arial;}

h2{color:darkblue;
    margin-top: 20px;
    font-size: 25px;
    font-family: Arial;
    margin-bottom: 20px}

.main-text{align-self: flex-start;
           margin-top: 10px;
           font-size: 20px;
           width: 100%
}

.main-text2{text-align: justify;
           margin-top: 0px; 
           margin-bottom: 5px;
           float: left;
           font-size: 25px;
           color: #6255f5;
}

.main-text3{text-align: justify;
           margin-top: 10px;
           float: left;
           font-size: 20px;
           width: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: #78efea;
    width:300px;
}




.mystyle {
    font-size: 12pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid #91dbed;

}

.mystyle td, th {
    padding: 5px;
}

.mystyle tr:nth-child(even) {
    background: #78efea;
}

.mystyle tr:hover {
    background: silver;
    cursor: pointer;
}    



.regress-section {
    display: flex;
}


.reg-div {
    width: 40%;
}

    
    
}

hr {
    background-color: darkblue;
    color: darkblue;
    border: none;
    height: 2px;
    

}


img {
    margin-left: 20pt;
    margin-top: 10pt;
    margin-bottom: 0pt;
    margin-right: 10pt;
    height: auto%;
    width: 80%;
    align-self: flex-start
    
}


.CLEARdataset {
    font-size: 30px;
    color: #1df24e;  
}


.smallerText{
    font-size: 12pt;
    color:red;
}




.AI_prob {
    color: red;
    font-size: 15;    
}

.clear {
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
}




button {
    border-width: medium;
    margin: 10px;    
}


.regression-counterfactuals {
    
    width: 25%;
        
}

.actual-counterfactuals {
    float:left;
    width: 25%
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.flexi-cont {
    display: flex; 
    flex-direction: row;  
    align-items: flex-end;
    justify-content: space-between
}

.counterfactual-table {
    width: 30%
}


.simplify-formula {
    width: 100%;
    margin-left: 25%;
    
}

.reg-formula {
    margin-left: 5%;
    margin-right: 5%;
    align-self: center;
    font-size: 120%;
}

.reg-GRAPH {
    width: 40%;
    align-items: center
}
